@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@200&display=swap');

body {
  background-image: url("/public/background.png");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: rgba(54, 34, 58, 0.986);
  border-radius: 10px;
  display: flex;
  height: 80px;
  justify-content: space-around;
}

.logo {
  font-size: xx-large;
  font-family: 'Lisu Bosa', serif;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  align-self: center;
}

.about {
  font-family: 'Lisu Bosa', serif;
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  width: 22vw;
  align-content: center;
  align-self: center;
  list-style: none;
}

.abo{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer{
  background-color: rgba(195, 0, 255, 0.7);
  display: flex;
}

.cont {
  background-color: rgba(139, 44, 168, 0.74);
  margin: 30px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  border-radius: 10px;
  background-color: rgb(170, 155, 72);
  padding: 10px;
  margin: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.img {
  border-radius: 10px;
  grid-column: 1;
  grid-row: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

h1{
  margin-top: 10px;
  font-family: 'Lisu Bosa', serif;
  font-size: larger;
  grid-row: 1;
  grid-column: 2;
}

p{
  font-family: 'Lisu Bosa', serif;
  font-size: medium;
  grid-column: 2;
  grid-row: 1;
  padding: 20px;
  margin-top: 25px;
}

.lista {
  font-family: 'Lisu Bosa', serif;
  font-size: 20px;
  list-style-type: none;
  margin-left: 40px;
}

.li {
  padding: 3px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 5px;
}

.li.reloj::before {
  background-image: url('/public/reloj1.png');
  background-size: cover;
}

.li.sal::before {
  background-image: url('/public/sal1.png');
  background-size: cover;
}

.li.manteca::before {
  background-image: url('/public/manteca1.png');
  background-size: cover;
}

.li.harina::before{
  background-image: url('/public/harina3.png');
  background-size: cover;
}

.li.huevos::before{
  background-image: url('/public/huevos.png');
  background-size: cover;
}